@import 'keyframes';


html,body{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    font-family: 'Titillium Web', sans-serif;
    overflow: hidden;
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-flow: column;
    header{
        width: 100%;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 25px;
        font-family: 'Anton', sans-serif;
    }
    .control_section{
        width: 100%;
        display: flex;
        justify-content: center;
        .filter_search{
            font-size: 1rem;
            text-align: center;
            text-transform: uppercase;
            font-weight: bold;
            font-family: 'Titillium Web', sans-serif;
            border: none;
            width: 28%;
            border-radius: 5px;
            margin-left: 2%;
            &:focus{
                color: black;
                box-shadow:  
                0 0 5px #2B84B3,
                0 0 25px #2B84B3,
                0 0 50px #2B84B3,
                0 0 200px #2B84B3;
                transition: 350ms;

            }
        }
    }
    .todos_container{
        margin-top: 5%;
        width: 70%;
        overflow-y: auto;
        img{
            position: absolute;
            top: 0;
            left: 0;
            height: 100vh;
            opacity: 0.5;
            z-index: -1;
            width: 100vw;
        }
        .list{
            display: flex;
            justify-content: center;
            flex-flow: column;
            align-items: center;
            list-style: none;
            li{
                width: 50%;
                height: auto;
                text-align: center;
                padding: 10px 0 0 0;
                margin: 10px 0;
                word-break: break-all;;
                color: black;
                text-transform: uppercase;
                background-color: whitesmoke;
                position: relative;
                overflow: hidden;
                border-radius: 10px;
                &:hover{
                    transform: scale(1.01);
                    transition: 350ms;

                }
                &:hover .one{
                    top: 0;
                    right: 0;
                    height: 3px;
                    width: 100%;
                    animation: animate 2s linear infinite;
                    animation-fill-mode: both;
                }
                &:hover .two{
                    bottom: 0;
                    left: 0;
                    height: 3px;
                    width: 100%;
                    animation: animate 2s linear infinite reverse;
                    animation-fill-mode: both;
                }
                &:hover .three{
                    top: 0;
                    right: 0;
                    width: 3px;
                    height: 100%;
                    animation: animate1 2s linear infinite;
                    animation-delay: 1s;
                    animation-fill-mode: both;
                }
                &:hover .four{
                    top: 0;
                    left: 0;
                    width: 3px;
                    height: 100%;
                    animation: animate1 2s linear infinite reverse;
                    animation-delay: 1s;
                    animation-fill-mode: both;
                }
                p{
                    text-transform: initial;
                    font-size: 0.8rem;
                }


                .fa-trash{
                    float: right;
                    margin-right: 10px;
                    &:hover{
                        transition: 200ms;
                        color: red;
                        transform: scale(0.98);
                        cursor: pointer;
                    }
                }
                .fa-check-circle{
                    background-color: whitesmoke;
                    color: black;
                    float: left;
                    margin-left: 10px;
                    &:hover{
                        cursor: pointer;
                    }
                }
            }

        }
    }

    .add_section{
        width: 50%;
        display: flex;
        justify-content: center;
        margin: 1% 4% 1% 3.5%;

        .fa-plus-square{
            font-size: 2.5rem;
            color: green;
            
            &:hover{
                transform: scale(0.95);
                transition: 300ms;
                cursor: pointer;
            }
            &:active{
                transform: scale(1.4);
                transition: 200ms;
            }
        }
        .todo_add{
            text-align: center;
            margin-left: 2%;
            width: 47.5%;
            text-transform: uppercase;
            border: none;
            font-weight: bold;
            border-radius: 5px;
            &:focus{
                color: black;
                box-shadow:  
                0 0 5px #2B84B3,
                0 0 25px #2B84B3,
                0 0 50px #2B84B3,
                0 0 200px #2B84B3;
                transition: 350ms;

            }
        }
    }
}


.active{
    animation: remove 350ms ease-in-out reverse;
    animation-fill-mode: both;
}

.active1{
    animation: remove 350ms ease-in-out;
    animation-fill-mode: both;
}

span{
    position: absolute;
    background-image: linear-gradient(to right,#23AFBA,#24A667);
}


@import 'media';


